body { /* Kevin */
	margin: 0; /* Ändrar margin */
	height: 98vh; /* Sätter en height */
	background-color: #f7eae0; /* Bakgrundsfärg */
}

.hem { /* VIKTOR */
	display: grid; 
	grid-template-columns: 1fr 2fr;
	
}

ul { /* Kevin */
	list-style-type: none; /* tar bort prickarna från min lista */
	margin: 0;
	padding: 0; /* Tar bort padding */
	
	background-color: #a45c1e;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 0.6fr 0.6fr 0.6fr 2fr;
}

li a { /* Kevin */
	display: block; 
	color: white; /* Färg på text */
	padding: 14px 16px;
	text-decoration: none; /* Tar bort understräck på länkar */
	text-align: center; /* sätter text i mitten */
}
 
a { /* VIKTOR */
	width: 176px;
}

.wrapper { /* Kevin */
	
	display: grid; /*visar min grid*/
	height: 100%; /*modiferar höjd*/
	width: 100%; /*modiferar bredd*/
	grid-template-rows: 50px auto 50px; /*storleken på mina olika områden i min grid*/
	margin: 0 auto; /*ändrar margin*/
	grid-template-areas: /*skapar mina grid områden*/
		"header"
		"main"
		"footer";
}

nav a:hover, a:focus { /* VIKTOR */
	background-color: #b66a27;
}

li:nth-child(1) { /* Kevin */
	padding-left: 80px;
	padding-right: 251.83px;
}

.Djurgrupper { /* Kevin */
	padding-top: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	text-align: center;
	font-size: 20px;
	font-family: Rubik, sans-serif; /* Ändrar font */
	font-weight: bold; /* tjocklek på texten */
}

main > section > a > img:hover {
	/* VIKTOR */
	transition: 0.5s; /* Lägger till en tid för att komma till samma läge */
	height: 18em; 
}

main > section > a > img {
	/* VIKTOR */
	transition: 0.5s;
	height: 16em;
	border-radius: 10px; /* Rundade kanter */
}

.Djur > section > img {
	/* VIKTOR */
	height: 32em;
	border-radius: 10px;
	
}

.Djur { /* Kevin */
	display: grid;
	grid-template-columns: 3fr 1fr;
	padding: 80px;
	padding-top: 0;
	padding-right: 380px;
	text-align: center;
}

td {
	/* VIKTOR */
	color: rgb(45, 158, 50);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding-right: 20px;
	border-top: 1px solid gray; /* Ändrar bara den övre delen av min border */
}

td:nth-child(1) { /* VIKTOR */
	color: rgb(63, 63, 63);
	font-weight: bold;
}


a:link { /* Kevin */
	color:inherit
}
a:visited { /* Kevin */
	color:white
}
a:active { /* Kevin */
	background-color: #fffefe44;
}

a:focus, a:hover{ /* KEVIN */
	inherits: auto;
}

#flagga{ /* VIKTOR */
	height: 20em;
}

.hem > section:nth-child(1) { /* VIKTOR */
	text-align: center;
}

.hem > section:nth-child(2) { /* VIKTOR */
	padding-left: 50px;
	padding-top: 80px;
}


.hem{ /* VIKTOR */
	margin: 80px;
}

.hem > section > h2{ /* VIKTOR */
	font-size: 40px;
}

.hem > p {
	font-size: 12	px;
}

	


