body{
    height: 98vh;
}

header{
  height: 100%;
}

ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a45c1e;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 0.6fr 0.6fr 0.6fr  2fr; 
 

}

li{
   display: grid;
   justify-items: stretch;

}

nav{
    height: 100%;
   
}   

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    
    
  }

.nav-links{
    list-style-type: none;
}

a{
    text-decoration: none; /*Tar bort understreck på länkar*/
}

.wrapper{
    display:grid; /*visar min grid*/
    height: 100%;  /*modiferar höjd*/
    width: 100%; /*modiferar bredd*/
    grid-template-rows: 50px auto 50px; /*storleken på mina olika områden i min grid*/
    margin: 0 auto; /*ändrar margin*/ 
    grid-template-areas: /*skapar mina grid områden*/
    "header"
    "main"
    "footer";
   }

   
   li:hover {
    background-color: #b66a27;
   }


  
  
  img {
    height: 450px;
  }

  li:nth-child(1){
    padding-left: 80px;
    padding-right:251.83px;
   
  }

  .Hembilder{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

 
  main > p {
    font-size: 22px;

  }

  .Djurgrupper{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    display: grid;
    text-align: center;
    font-size: 20px;
    font-family: Rubik,sans-serif;
    font-weight: bold;

  }

  main > section > img:hover{
    transition: 0.5s;

  }

  